.multiShip-text {
    color: red;
    font-weight: bold;
}

.ffl-section {
    .info-window-content {
        h5 {
            margin-bottom: 10px;
        }

        a {
            display: inherit;
            margin-bottom: 10px;
        }
    }
}

.modal-iframe {
    overflow: hidden !important;
    height: 800px;
    padding-bottom: 30px !important;
}
